/* Nunito */
@font-face {
  font-family: 'Nunito';
  src: url('/assets/Nunito-Regular.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
}
/* Добавьте остальные начертания аналогично */

/* Nunito Sans */
@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/NunitoSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
}

/* Lora */
@font-face {
  font-family: 'Lora';
  src: url('/assets/Lora-Bold.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
font-family:"acta-display";
src:url("/assets/acta-display.woff") format("woff");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
  font-family: "PPSupplyMono";
  src: url("/assets/PPSupplyMono-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}