<a routerLink="/advertisers" href="#" class="header">
  <img src="images/logo_platforma.svg" alt="logo">
</a>
<div 
  #slider 
  class="slider" 
  [style.--img-prev]="'url(' + images[currentIndex] + ')'"
  [style.--from-left]="currentIndex + 1"
>
  <div #sliderContent class="slider__content">
    <!-- Images -->
    <div class="slider__images">
      <div 
        *ngFor="let image of images; let i = index; trackBy: trackByIndex"
        [class]="getImageClass(i)"
        [attr.data-id]="i + 1"
      >
        <img [src]="image" [alt]="slideData[i].title">
      </div>
    </div>

    <!-- Text Content -->
    <div class="slider__text">
      <div 
        *ngFor="let slide of slideData; let i = index; trackBy: trackByIndex"
        [class]="getTextClass(i)"
        [attr.data-id]="i + 1"
      >
        <div class="slider__text-item-head">
          <h3>{{ slide.title }}</h3>
        </div>
        <div class="slider__text-item-info">
          <p>{{ slide.quote }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <div class="slider__nav">
    <!-- Arrow Navigation -->
    <div class="slider__nav-arrows">
      <div 
        class="slider__nav-arrow slider__nav-arrow--left"
        (click)="prev()"
        [attr.aria-label]="'Previous slide'"
      >
        to left
      </div>
      <div 
        class="slider__nav-arrow slider__nav-arrow--right"
        (click)="next()"
        [attr.aria-label]="'Next slide'"
      >
        to right
      </div>
    </div>

    <!-- Dot Navigation -->
    <div #sliderDots class="slider__nav-dots">
      <div 
        *ngFor="let image of images; let i = index; trackBy: trackByIndex"
        [class]="getDotClass(i)"
        [attr.data-id]="i + 1"
        [attr.aria-label]="'Go to slide ' + (i + 1)"
        (click)="onDotClick(i)"
      ></div>
    </div>
  </div>
</div>