/* You can add global styles to this file, and also import other style files */
@import '//assets/fonts.scss';

* { margin: 0; padding: 0; }

body {
  overflow-x: hidden !important;
}

body.loading-active {
  overflow: hidden !important;
}

canvas {
  display: block;
  cursor: crosshair;
}


